<mat-card *ngFor="let book of books" class="books-card mat-elevation-z10" color="primary">

    <mat-card-header>

        <mat-card-title>{{book.title}}</mat-card-title>

    </mat-card-header>

    <img mat-card-image [src]="book.coverUrl">

    <mat-card-content>
        <p>{{book.description}}</p>
    </mat-card-content>

    <mat-card-actions class="book-actions">

        <button mat-button class="mat-raised-button mat-primary" [routerLink]="['/books', book.id]">
            VIEW DETAILS
        </button>

        <button mat-button class="mat-raised-button mat-accent" (click)="editBook(book)">
            EDIT
        </button>

    </mat-card-actions>

</mat-card>